body {
    background-color: #393939;
    font-family: "Verdana", "Arial", "Sans-serif", serif;
    font-size: 1em;
    color: #26364a;
    margin: 0 0 0 0;
}

#header {
    margin-top: 2em;
}

#picture {
    display:block;
    max-width: 100%;
    margin-top: 4em;
	  margin-left: auto;
	  margin-right: auto;
    border-top: .2em solid;
    border-left: .2em solid;
    border-right: .2em solid;
    border-bottom: .2em solid;
    border-color: #000000;
}

#endOfPage {
    margin-bottom: 150px;
}

#footer {
    text-align: center;
    border-top: .1em solid #000000;
    background-color: #262626;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
}

#footer .socialIcon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

#footer #copyright {
    font-size: 0.75em;
    margin-top: 1em;
    color: #666666;
}
