body {
    background-color: #114B5F;
    font-family: "Verdana", "Arial", "Sans-serif", serif;
    font-size: 1em;
    color: #ffffff;
    margin: 0 0 0 0;
}

#memoji {
  position: fixed;
  bottom: 64px;
  left: 0;
  right: 0;
  width: 15em;
}

#footer {
    text-align: center;
    border-top: .1em solid #000000;
    background-color: #413C58;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
}

#footer .linkIcon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
